.centeredTitle
        {
            margin: auto;
            padding: 10px;
            text-align: center;
            margin-top:6vh;
        }
        
        .inputs {
            margin: auto;
            border: 3px solid green;
            padding: 10px;
            margin-top: 2vh;
            width: 35vw;
            text-align: center;
            padding-top: 2vh;
            background-color: #fff;
        }

        .inputs input, select {
            position: relative;
            width: 50%;
            font-size: 1em;
            padding: 1.2em 1.7em 1.2em 1.7em;
            margin-top: 0.6em;
            margin-bottom: 1em;
            border-radius: 20px;
            border: none;
            background: #ebebeb;
            outline: none;
            font-weight: bold;
            transition: 0.4s;
            
        }
        
        .inputs button
        {
           position: relative;
            width: 50%;
            font-size: 1em;
            padding: 1.2em 1.7em 1.2em 1.7em;
            margin-top: 0.6em;
            margin-bottom: 0.6em;
            border-radius: 20px;
            border: none;
            background: #ebebeb;
            outline: none;
            font-weight: bold;
            transition: 0.4s; 
        }
        
        
        .dd
        {
            position: relative;
            margin: auto;
            width: 50%;
            font-size: 1em;
            padding: 1.2em 1.7em 1.2em 1.7em;
            margin-top: 0.6em;
            margin-bottom: 0.6em;
            border-radius: 20px;
            border: none;
            background: #ebebeb;
            outline: none;
            font-weight: bold;
            transition: 0.4s;
            text-align: center;
            
        }
        
        .search{
            
            margin: auto;
            padding: 10px;
            margin-top: 2vh;
            width: 24.5vw;
            text-align: center;
            padding-top: 2vh;
            background-color: #fff;
        }
        
       .search input {
            margin:2px;
            position: relative;
            width: 50%;
            font-size: 1em;
            padding: 1.2em 1.7em 1.2em 1.7em;
            margin-top: 0.6em;
            margin-bottom: 0.6em;
            border-radius: 20px;
            border: none;
            background: #ebebeb;
            outline: none;
            font-weight: bold;
            transition: 0.4s;
            
        }