.toolbar{
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
    background:#57b846;
    height:56px;
    z-index: 1;
}

.toolbar__navigation{
    display: flex;
    height:100%;
    align-items:center;
    padding:0 1rem;
}

.toolbar__logo a
{
    color:white;
    text-decoration: none;
    font-size: 1.5 rem;
}

.spacer{
    flex:1;
}

.toolbar_navigation-items ul{
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
}

.toolbar_navigation-items li{
    margin-left: 15px;
}

.toolbar_navigation-items a{
    color:white;
    text-decoration: none;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
    color:#fa923f;
}
