        .centeredTitle
        {
            margin: auto;
            padding: 10px;
            text-align: center;
            margin-top:8vh;
        }

        .account {
            margin: auto;
            border: 3px solid green;
            padding: 10px;
            margin-top: 5vh;
            width: 35vw;
            height: 55vh;
            text-align: center;
            padding-top: 4vh;
            background-color: #fff;
        }

        .account input {
            position: relative;
            width: 50%;
            font-size: 1em;
            padding: 1.2em 1.7em 1.2em 1.7em;
            margin-top: 0.6em;
            margin-bottom: 0.6em;
            border-radius: 20px;
            border: none;
            background: #ebebeb;
            outline: none;
            font-weight: bold;
            transition: 0.4s;
        }
        
        .account button
        {
           position: relative;
            width: 50%;
            font-size: 1em;
            padding: 1.2em 1.7em 1.2em 1.7em;
            margin-top: 0.6em;
            margin-bottom: 0.6em;
            border-radius: 20px;
            border: none;
            background: #ebebeb;
            outline: none;
            font-weight: bold;
            transition: 0.4s; 
        }